<!DOCTYPE html>
<html>
<body>

<h1>ATTENDANCE_PART</h1>

<form action="#" method = "post">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="roll_no">Roll No:</label><br>
  <input type="number" id="roll_no" name="roll_no" ><br>
  <label for="img">Select image:</label>
  <input type="file" id="img" name="img" accept="image/*">
  <input type="submit">
</form>

<button type="button"><a href="http://127.0.0.1:5000/">Go Home</a></button>

</body>
</html>
